RewriteEngine On

# Check if the URL is for a real file or directory.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Stuur alle requests door naar index.php
RewriteRule ^ index.php [QSA,L]