.main{
    margin: 1.5%;
    width: 60%;
}
.main ul{
    flex: 1;
    flex-direction: column;
}
.main ul{
    list-style: circle;
}
.main_2 a{
    color: blueviolet;
    padding: 0;
}
.main_2 a:hover{
    color: blue;
}